In [88]:
import pandas as pd

time: 899 Âµs (started: 2021-12-01 14:07:10 -05:00)

In [89]:
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 1.25 ms (started: 2021-12-01 14:07:11 -05:00)

In [90]:
# Accepts: nothing
# Returns: nothing

def clean_spott_api():
    spott_df = pd.read_csv('spott_df.csv')
    
    # Drop excess columns
    spott_df = spott_df.drop(columns='Unnamed: 0')

time: 3 ms (started: 2021-12-01 14:07:11 -05:00)

In [91]:
clean_spott_api()

time: 7.57 ms (started: 2021-12-01 14:07:11 -05:00)

In [92]:
spott_df.head()

      Cities  Population  Elevation
0      Tokyo   8336599.0       44.0
1    Jakarta   8540121.0       16.0
2  New York    8175133.0       10.0
3      Seoul  10349312.0       38.0
4    Mumbai   12691836.0        8.0

time: 8.02 ms (started: 2021-12-01 14:07:11 -05:00)

In [93]:
# Accepts: nothing

# Returns: nothing

def clean_waqi_api():
    waqi_df = pd.read_csv('waqi_df.csv')
    
    # Drop excess columns
    waqi_df = waqi_df.drop(columns=['Unnamed: 0', 'uvi', 'date'])
    
    # Change column names
    waqi_df = waqi_df.rename(columns={'cities': 'Cities', 'aqi': 'AQI','latitude': 'Latitude', 'longitude': 'Longitude', 'pm25': 'PM25', 'pm10': 'PM10', 'o3':'O3'})

time: 4.64 ms (started: 2021-12-01 14:07:11 -05:00)

In [94]:
clean_waqi_api()

time: 9.35 ms (started: 2021-12-01 14:07:12 -05:00)

In [95]:
waqi_df.head()

      Cities  AQI   Latitude   Longitude   PM25  PM10   O3
0      Tokyo   34  35.641463  139.698171   30.0  29.0  1.0
1    Jakarta   74  -6.182536  106.834236   74.0  78.0  1.0
2  New York   114  40.712784  -74.005941  114.0  50.0  2.0
3      Seoul   68  37.566535  126.977969   68.0  23.0  1.0
4    Mumbai   173  19.072830   72.882610  173.0  46.0  9.0

time: 13 ms (started: 2021-12-01 14:07:12 -05:00)

In [96]:
def clean_and_combine_df():
    # Merge
    combined_df = spott_df.merge(waqi_df, how='inner', on='Cities')
    
    # Drop columns with NA values
    combined_df = combined_df.dropna()
    
    # Reset index
    combined_df = combined_df.reset_index().drop(columns='index')

time: 3.76 ms (started: 2021-12-01 14:07:13 -05:00)

In [97]:
clean_and_combine_df()

time: 9.61 ms (started: 2021-12-01 14:07:13 -05:00)

In [98]:
combined_df

,Cities,Population,Elevation,AQI,Latitude,Longitude,PM25,PM10,O3
0,Tokyo,8336599.0,44.0,34,35.641463,139.698171,30.0,29.0,1.0
1,Jakarta,8540121.0,16.0,74,-6.182536,106.834236,74.0,78.0,1.0
2,New York,8175133.0,10.0,114,40.712784,-74.005941,114.0,50.0,2.0
3,Seoul,10349312.0,38.0,68,37.566535,126.977969,68.0,23.0,1.0
4,Mumbai,12691836.0,8.0,173,19.072830,72.882610,173.0,46.0,9.0
...,...,...,...,...,...,...,...,...,...
484,Vientiane,196731.0,174.0,70,17.896122,102.640000,70.0,28.0,14.0
485,Yicheng,176006.0,10.0,38,31.354200,119.817700,38.0,58.0,1.0
486,Skoplje,474889.0,247.0,55,41.992500,21.423611,55.0,18.0,18.0
487,Dali,14760.0,1517.0,22,25.581100,100.217100,17.0,19.0,3.0
488,Rasht,594590.0,4.0,117,37.316581,49.606528,2.0,42.0,3.0

time: 22.1 ms (started: 2021-12-01 14:07:14 -05:00)

In [99]:
combined_df.to_csv('combined_df.csv')

time: 14.4 ms (started: 2021-12-01 14:07:15 -05:00)