In [1]:
import pandas as pd
import requests
import re

In [2]:
%load_ext autotime

time: 55.6 µs (started: 2021-12-01 12:54:57 -05:00)

In [3]:
# creating WAQI DF from the waqi data from the other API

waqi_df = pd.read_csv('waqi_df.csv')
waqi_df

,Unnamed: 0,cities,aqi,latitude,longitude,pm25,pm10,o3,uvi,date
0,0,Tokyo,34,35.641463,139.698171,30.0,29.0,1.0,1.0,11-30-2021
1,1,Jakarta,74,-6.182536,106.834236,74.0,78.0,1.0,3.0,11-30-2021
2,2,New York,114,40.712784,-74.005941,114.0,50.0,2.0,0.0,11-30-2021
3,3,Seoul,68,37.566535,126.977969,68.0,23.0,1.0,0.0,11-30-2021
4,5,Mumbai,173,19.072830,72.882610,173.0,46.0,9.0,1.0,11-30-2021
...,...,...,...,...,...,...,...,...,...,...
521,989,Yicheng,38,31.354200,119.817700,38.0,58.0,1.0,1.0,11-30-2021
522,990,Skoplje,55,41.992500,21.423611,55.0,18.0,18.0,0.0,11-30-2021
523,993,Dali,22,25.581100,100.217100,17.0,19.0,3.0,1.0,11-30-2021
524,995,Jinzhou,78,41.095120,121.127004,78.0,17.0,9.0,0.0,11-30-2021
525,1000,Rasht,117,37.316581,49.606528,2.0,42.0,3.0,1.0,11-30-2021

time: 40.5 ms (started: 2021-12-01 12:54:57 -05:00)

In [4]:
# creating a list of cities from the WAQI DF

cities = waqi_df['cities'].to_list()

time: 1.45 ms (started: 2021-12-01 12:54:58 -05:00)

In [32]:
# Creating a new DF for the Spott API data

spott_df = pd.DataFrame(cities, columns=['Cities'])

time: 2.51 ms (started: 2021-12-01 13:27:22 -05:00)

In [33]:
spott_df.head()

      Cities
0      Tokyo
1    Jakarta
2  New York
3      Seoul
4    Mumbai

time: 6.89 ms (started: 2021-12-01 13:27:22 -05:00)

In [8]:
url = "https://spott.p.rapidapi.com/places"

time: 599 µs (started: 2021-12-01 12:56:21 -05:00)

In [19]:
api_key = "cbfdae0a2fmsh0c82ba4c85185ffp1b0553jsn45b42705787b"

time: 7.27 ms (started: 2021-12-01 13:22:00 -05:00)

In [20]:
# Returns the information for the top hit from each city

def get_city_data(city):
    querystring = {"language": "en","q":city}

    headers = {
        'x-rapidapi-host': "spott.p.rapidapi.com",
        'x-rapidapi-key': api_key
        }

    response = requests.request("GET", url, headers=headers, params=querystring)

    try:
        return response.json()[0]
    except Exception as e:
        return "something wrong with request {}".format(e)

time: 6.93 ms (started: 2021-12-01 13:22:03 -05:00)

In [21]:
# Dictionary that collects all the API data

info_dict = {}

time: 1.08 ms (started: 2021-12-01 13:22:06 -05:00)

In [22]:
# Adds each city's data to the information dictionary 

for city in cities:
    info_dict[city] = get_city_data(city)
    print(city)

Tokyo
Jakarta
New York
Seoul
Mumbai
Sao Paulo
Mexico City
Delhi
Osaka
Kolkata
Los Angeles
Shanghai
Moscow
Beijing
Buenos Aires
Shenzhen
Istanbul
Paris
Karachi
Nagoya
Chicago
Lagos
London
Bangkok
Tehran
Lima
Dongguan
Bogota
Chennai
Dhaka
Tianjin
Hong Kong
Taipei
Lahore
Ho Chi Minh City
Bangalore
Hyderabad
Johannesburg
Baghdad
Toronto
Santiago
San Francisco
Philadelphia
Miami
Madrid
Ahmedabad
Boston
Khartoum
Shenyang
Pune
Riyadh
Singapore
Washington
Yangon
Milan
Atlanta
Chongqing
Alexandria
Nanjing
Barcelona
Chengdu
Detroit
Ankara
Abidjan
Athens
Sydney
Monterrey
Phoenix
Busan
Melbourne
Hangzhou
Algiers
Xi'An
Qingdao
Durban
Kanpur
Addis Ababa
Jeddah
Naples
Kabul
Salvador
Harbin
Cape Town
San Diego
Seattle
Rome
Taichung
Jaipur
Kaohsiung
Minneapolis
Lucknow
Tel Aviv-Yafo
Kyiv
Mashhad
Izmir
Rawalpindi
Tashkent
Katowice
Changchun
Daegu
Changsha
Nagpur
Lisbon
Frankfurt Am Main
Nanchang
Tampa
Dalian
Shijiazhuang
Manchester
Fukuoka
Denver
St. Louis
Colombo
Baltimore
Sapporo
Preston
Patna
Warsaw
Yokohama
Kunming
Guiyang
Zibo
Incheon
Zhengzhou
Taiyuan
Chaoyang
Brasilia
Zhongshan
Fuzhou
Lanzhou
Xiamen
Zaozhuang
Jilin
Linyi
Wenzhou
Brisbane
Nanchong
Nanning
Urumqi
Yantai
Fuyang
Tangshan
Hamburg
Budapest
Xuzhou
Baotou
Hefei
Vienna
Indore
Belgrade
Suzhou
Suizhou
Nanyang
Ningbo
Anshan
Tengzhou
Qiqihaer
Taian
Datong
Kobe
Hama
Esfahan
Luoyang
Quito
Jinjiang
Perth
Daejeon
Kyoto
Tangerang
Bhopal
Coimbatore
Gwangju
Fushun
Wuxi
Hechuan
Wujin
Guigang
Huhehaote
Santa Cruz
Ludhiana
Novosibirsk
Neijiang
Weifang
Daqing
Tongzhou
Tabriz
Huainan
Kochi
Suining
Bozhou
Zhanjiang
Changde
Suzhou
Xintai
Handan
Kawasaki
Pingdu
Agra
Jiangyin
Bursa
Dengzhou
Guarulhos
Heze
Auckland
Shantou
Thane
San Antonio
Xinyang
Luzhou
Almaty
Changshu
Laiwu
Xiaoshan
Yiyang
Liuzhou
Varanasi
Kampala
Huaian
Shiraz
Kalyan
Quanzhou
Adana
Bazhong
Jingzhou
Saitama
Prague
Meerut
Hyderabad
Yixing
Mianyang
Wenling
Ottawa
Hiroshima
Chifeng
Nashik
Rizhao
Tianshui
Huzhou
Adelaide
Yuzhou
Leshan
Jabalpur
Jimo
Dingzhou
Calgary
Zoucheng
Anqiu
Chelyabinsk
Asansol
Shouguang
Changzhou
Ulsan
Zhuji
Toluca
Tbilisi
Faridabad
Zigong
Jining
Edmonton
Dnipropetrovsk
Qinzhou
Sendai
Ezhou
Guatemala City
Brussels
Bamako
Ziyang
Antananarivo
Mudanjiang
Amritsar
Haora
Huazhou
Fuzhou
Dublin
Kitakyushu
Odessa
Yongchuan
Peshawar
Benxi
Zhangqiu
Yongzhou
Ghaziabad
Zhangjiagang
Xianyang
Liaocheng
Ahwaz
Linhai
Feicheng
Suwon
Wuwei
Haimen
Xinhui
Gaziantep
Krasnoyarsk
Chiba
Yichun
Yulin
Seongnam
Yueyang
Yiwu
San Jose
Jixi
Guangyuan
Soweto
Zhangjiakou
Baoding
Huludao
Pingdingshan
Torino
Laiyang
Qingzhou
Laizhou
Thiruvananthapuram
Weinan
Xiaogan
Jiaxing
Kozhikode
Zhuzhou
Hengyang
Solapur
Gwalior
Jinzhou
Chenghai
Jiamusi
Wujiang
Jodhpur
Yuyao
Saratov
Ankang
Gaomi
Danzhou
Zhuhai
Sakai
Haikou
Xuancheng
Yuhang
Qinhuangdao
Kermanshah
Liverpool
Guwahati
Yichun
Konya
Bengbu
Yibin
Chandigarh
Yinchuan
Guilin
Hamamatsu
Sao Bernardo Do Campo
Bishkek
Suihua
Meishan
Marseille
Kaifeng
Tongliao
Dongying
Mysore
Niigata
Indianapolis
Jiaozhou
Pingxiang
Haiphong
Jacksonville
Dandong
Xinyu
Gongyi
Xinxiang
Port Elizabeth
Nantong
Anyang
Renqiu
Foshan
Goyang
Bucheon
Dongyang
Lviv
Kunshan
Salem
Jiaozuo
Huaibei
Liyang
Samut Prakan
Rongcheng
Laixi
Liaoyang
Zhaotong
Jerusalem
Tainan
Cuernavaca
Linfen
Shangyu
Aguascalientes
Hamilton
Langfang
Osasco
Nonthaburi
Yichang
Yangzhou
Jalandhar
Xiangtan
Winnipeg
Kota
Sevilla
Navi Mumbai
Saltillo
Shizuoka
Yingkou
Wuhu
Zhenjiang
Hegang
Linqing
Zunyi
Panzhihua
Austin
Lianyungang
Yancheng
Qiongshan
Wendeng
Okayama
Longkou
Antalya
Kumamoto
Mexicali
Nottingham
Haining
Yangquan
Chenzhou
Haiyang
Morelia
Huangshi
Qixia
Changzhi
Qujing
Maoming
Moradabad
Sheffield
Donggang
Acheng
Wroclaw
Jieyang
Shaoxing
Qionglai
Deyang
Sagamihara
Fuyang
Fuxin
Jiyuan
Puente Alto
Qufu
Xinji
Bhiwandi
Jeonju
Xichang
Colombo
Charlotte
Weihai
Shaoyang
Lanxi
Yuncheng
Kagoshima
Panjin
Orumiyeh
Binzhou
Baoji
El Paso
Zhaoyuan
Huizhou
Tianchang
Dortmund
Shihezi
Shiyan
Cheongju
Jingmen
Anqing
Stuttgart
Kingston
Milwaukee
Glasgow
Funabashi
Zhangzhou
Xianning
Maanshan
Poznan
Kayseri
Chon Buri
Shuozhou
Samarinda
Helsinki
Akesu
Novokuznetsk
Hachioji
Beihai
Yongkang
Louisville
Chizhou
Huaiyin
Fuan
Dezhou
Jiujiang
Bristol
Botou
Astana
Nashville-Davidson
Longyan
Oslo
Vilnius
Songyuan
Yangjiang
Jiangmen
Xingtai
Shaoguan
Jinzhong
Portland
Oklahoma City
Nakhon Ratchasima
N'Djamena
Kerman
Islamabad
Sarajevo
Dushanbe
Vientiane
Yicheng
Skoplje
Dali
Jinzhou
Rasht
time: 2min 40s (started: 2021-12-01 13:22:18 -05:00)

In [36]:
# Accepts: string (city name)
# Returns: float (population size)

def add_population(name):
    city_info = info_dict[name]
    if city_info == 'something wrong with request list index out of range':
        return None
    else:
        return city_info['population']

time: 2.56 ms (started: 2021-12-01 13:27:35 -05:00)

In [37]:
spott_df['Population'] = spott_df['Cities'].apply(add_population)

time: 3.1 ms (started: 2021-12-01 13:27:36 -05:00)

In [38]:
# Accepts: string (city name)
# Returns: float (elevation)

def add_elevation(name):
    city_info = info_dict[name]
    if city_info == 'something wrong with request list index out of range':
        return None
    else:
        return city_info['elevation']

time: 2.78 ms (started: 2021-12-01 13:27:44 -05:00)

In [39]:
spott_df['Elevation'] = spott_df['Cities'].apply(add_elevation)

time: 3.77 ms (started: 2021-12-01 13:27:44 -05:00)

In [40]:
spott_df

        Cities  Elevation  Population
0        Tokyo       44.0   8336599.0
1      Jakarta       16.0   8540121.0
2    New York        10.0   8175133.0
3        Seoul       38.0  10349312.0
4      Mumbai         8.0  12691836.0
..         ...        ...         ...
521    Yicheng       10.0    176006.0
522    Skoplje      247.0    474889.0
523       Dali     1517.0     14760.0
524   Jinzhou        26.0    604269.0
525      Rasht        4.0    594590.0

[526 rows x 3 columns]

time: 14 ms (started: 2021-12-01 13:27:45 -05:00)

In [31]:
spott_df.to_csv('spott_df.csv')

time: 19.3 ms (started: 2021-12-01 13:25:39 -05:00)